body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.character-detective {
    padding-top: 72vh;
    width: 28vh;
    height: 28vh;
    z-index: 0;
}

.helper {
    position: absolute;
    z-index: 1;
    top: 50vh;
    left: 40vw;
    width: 20vw;
    padding-top: 1vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    text-align: center;
    background-color: white;
    opacity: 0.5;
    border-radius: 10px;
    font-size: 20px;
}

.music-button {
    position: absolute;
    z-index: 1;
    width: 5vw;
    height: 5vw;
    top: 5vh;
    left: 5vh;
    opacity: 0.5;
    background-image: url("/character_detective/play.png");
    background-size: 5vw 5vw;
}

img {
    width: 100%;
    height: 100%;
}

.background_hills {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: 1080px 100vh;
    background-repeat: repeat-x;
}

.background_hills.front {
    z-index: 1;
}

#background_hill_1 {
    background-image: url("/background_hills/Hills_Layer_1.png");
}

#background_hill_2 {
    background-image: url("/background_hills/Hills_Layer_2.png");
}

#background_hill_3 {
    background-image: url("/background_hills/Hills_Layer_3.png");
}

#background_hill_4 {
    background-image: url("/background_hills/Hills_Layer_4.png");
}

#background_hill_5 {
    background-image: url("/background_hills/Hills_Layer_5.png");
}

#background_hill_6 {
    background-image: url("/background_hills/Hills_Layer_6.png");
}